.main{
    background: white;
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;
}
body{
    background: aliceblue;
}
.main ul{
    list-style: none;
    padding: 0px;
}
.main ul li{
    border-bottom: 1px solid black;
    overflow: hidden;
    padding: 0 1px;
}

.avatar-group{
    width: 76px;
    height: 100%;
    float: left;
    margin: 10px;
}
.avatar-group{
    width: 76px;
    height: 76px;
    margin:18px 0;
}
.question-group{
    position: relative;
    float: left;
    width: 600px;
    margin: 10px;
}
.question-title a{
    color: darkseagreen;
    font-weight: 900;
}
.question-info{
    text-align: right;
}
.question-author{
    margin-right: 10px;
}
.question-time{
    margin-left: 10px;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 18px;
}

.to-answer:hover{
    color: aqua;
}
.answer-num{
    position: absolute;
    top: 60px;
    left: 0;
}
.see-num{
    position: absolute;
    top: 60px;
    left: 50px;
}
.like{
    position: absolute;
    top: 57px;
    left: 120px;
}
.question-label {
    position: absolute;
    top: 60px;
    left: 190px;
}
/*.to-answer{*/
/*    position: absolute;*/
/*    top: 75px;*/
/*    left: 10px;*/
/*}*/