.main{
    background: rgba(246,246,246,1);
    width: 60%;
    margin: 50px auto;
    overflow: hidden;
}
html, body{
    background: rgba(246,246,246,1);
}
#user{
    position: relative;
    background: white;
    overflow:hidden;
    margin: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    -moz-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    border-radius: 2px;
}
#user-avatar{
    float: left;
    width: 130px;
    height: 130px;
    border: 2px solid rgb(39, 38, 54);
    border-radius: 2%;
    padding: 3px;
    margin: 20px;
}
#user-info{
    float: left;
    height: 100%;
    margin: 0;
}
#user-name{
    height: 100%;
    margin-top: 20px;
}
.user-labels{
    margin: 0;
    margin-left: 2px;
}
.user-label{
    float: left;
    margin: 0;
    margin-right: 5px;
}
#user-tab{
    background: white;
    margin: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    -moz-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    border-radius: 2px;
}
#user-nav-tab li a{
    color: black;
}
#user-nav-tab li.active{
    color: black;
    font-weight: bold;
}
.tab-pane{
    min-height: 50vh;
}
.empty{
    padding-top: 180px;
    padding-bottom: 100px;
}
.empty p{
    text-align: center;
    width: 200px;
    margin: 0 auto;
}
.list{
    padding: 5px 0;
    margin: 10px 20px;
    border-bottom: 1px solid rgba(26,26,26,.1);
}
.list a{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.list a:hover{
    color: rgb(50, 72, 119);
    text-decoration:none;
}
.list a:visited{
    color: black;
}
.list p{
    margin: 5px;
}
.list .c-count{
    color: gray;
    font-size: 12px;
}
#user-change-avatar{
    position: absolute;
    left: 170px;
    bottom: 20px;
}
#user-change-avatar input{
    padding: 8px 15px;
    border-radius: 2px;
}
input[type=button]{
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all
}
input[type=button]{
    width: 100%;
    background: rgb(39, 38, 54);
    outline: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
    border: none;
    padding: 16px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all
}
input[type=button]:hover {
    color: white;
    background: rgb(76, 75, 88)
}

@media(max-width:1920px) {
    
}

@media(max-width:1600px) {
    .main{
        width: 65%;
    }
}

@media(max-width:1440px) {
    
}

@media(max-width:1366px) {
    .main {
        width: 70%
    }
}

@media(max-width:1280px) {
    
}

@media(max-width:1080px) {
    .main {
        width: 72%
    }
}

@media(max-width:1024px) {
    .main {
        width: 75%
    }
}

@media(max-width:991px) {
    .main {
        width: 80%
    }
}

@media(max-width:800px) {
    .main {
        width: 84%
    }
}

@media(max-width:768px) {
    .main {
        margin-top: 35px;
        width: 86%;
    }
}

@media(max-width:736px) {
    .main {
        width: 88%;
    }
}

@media(max-width:640px) {
    .main {
        width: 90%
    }
}

@media(max-width:600px) {
    .main {
        margin-top: 25px;
        width: 92%
    }
}

@media(max-width:568px) {
    .main {
        width: 93%
    }
}

@media(max-width:480px) {
    .main {
        width: 94%
    }
}

@media(max-width:440px) {

}

@media(max-width:414px) {

}

@media(max-width:384px) {

}

@media(max-width:320px) {

}