<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    Flask&Jquery Test!
    <br>
    <br>
    <button id="loadlink">Async Load</button>
    <br>
    <button id="submit">Ajax Post</button>
    <p id="loadcontent"></p>
</body>
<script type="text/javascript">
    $('#loadlink').on("click", function(event){
        $.getJSON("jsonrequest", function(data){
            var word = data["result"]
            $('#loadcontent').append(word+"<br>")
        })
    })
    $('#submit').on("click", function(event){
        $.post("submit", {t1:"1", t2:"2", t3:"3"}, function(data){
            console.log(data);
        })
    })
</script>
</html>