<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Login</title>
        <link href="static/css/indexstyle.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">   
    </head>
	<body>
        <div class="ask-box">
            <div class="title-string">
                无问西东
            </div>
            <div class="user-link">
                <a class="user-link-content" href="">登录</a>
                |
                <a class="user-link-content" href="">注册</a>
            </div>
            <div class="ask-string">
                问
            </div>
        </div>

        <div class="search-group col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="...">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        
		<div class="answer-box">
            <div class="answer-string">
                答
            </div>
			<!-- <div class="hide-login-btn">
				<i class="fas fa-times"></i>
			</div> -->
			<!-- <form action="index.html" method="POST" class="login-form">
				<h1>Welcome</h1>
				<input class="txtb" type="text" name="" placeholder="Username" />
				<input class="txtb" type="password" name="" placeholder="Password" />
				<input class="login-btn" type="submit" name="" value="Login" disabled />
			</form> -->
		</div>
    </body>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="static/js/util.js"></script>
    <script type="text/javascript">
        var answerBox = document.getElementsByClassName('answer-box');
        var askBox = document.getElementsByClassName('ask-box');
        askBox[0].addEventListener('click', function() {
            if(!$('.answer-box').hasClass('showed')){
                $(".ask-string").fadeToggle(200);
                $(".answer-string").fadeToggle(300);
                $(".search-group").fadeToggle(600);
                toggleClass(answerBox[0], 'showed');
            } 
        })
    </script>
    <script>
        $(".title-string").click(function(){
            window.location = "/";
        })
    </script>
</html>