<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>登录 - 无问西东</title>
        <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
        <link href="static/css/loginstyle.css" rel="stylesheet" type='text/css' media="all"/>
    </head>
	<body>
        <div class="placeholder"></div>
        <div class="main">
            <div class="its-sign-in">
                <h2>登录</h2>
            </div>
            <form action="/login" method="post">
                <div class="form-left-w3l">
                    <input name="name" type="text" placeholder="Username" required="" autocomplete='new-password'>
                </div>
                <div class="form-left-w3l">
                    <input name="passwd" type="password" placeholder="Password" required="" autocomplete='new-password'>
                </div>
                <div class="rem-pass-agile">
                    <div class="left-side">
                        <input name="remember" type="checkbox" class="checked">
                        <span class="span">记住我(七天内免登录)</span>
                    </div>
                    <div class="right-side">
                        <a href="#" class="for">忘记密码...?</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="btnn">
                    <button type="submit">登录</button><br>
                    <div class="clear"></div>
                </div>
                <div class="rem-pass-agile">
                    <div class="left-side">
                        <span class="span" style="color: red; margin: 0">
                            {% if state == 0 %}
                                用户名不存在！
                            {% elif state == 1 %}
                                密码错误！
                            {% else %}
                                
                            {% endif %}
                        </span>
                    </div>                
                    <div class="right-side">
                        <a href="/register" class="for">没有账户?注册...</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </body>
</html>