<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Store</title>
</head>
<body>
<div style="text-align: center;">
    <h2>Our puzzle collection</h2>
    <table border="1" align="center">
        <tr>
            <th>问题ID</th>
            <th>用户ID</th>
            <th>问题所属类别</th>
            <th>问题内容</th>
            <th>提问时间</th>
            <th>问题收藏量</th>
        </tr>
         {% for i in result %}
        <tr>
            <td>{{ i.qid }}</td>
            <td>{{ i.uid }}</td>
            <td>{{ i.label }}</td>
            <td>{{ i.ques_content }}</td>
            <td>{{ i.ques_time }}</td>
             <td>{{ i.ques_collect }}</td>
            {% endfor %}
        </tr>
    </table>
</div>
</body>
</html>