<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改问题</title>
</head>
<body>
<div align="center">
    <h2>Thing's change, so does your puzzle</h2>
    <form action="/updatedq" method="get">
        {% for i in res %}
        <input type="hidden" name="qid" value={{ i.qid }}>
        <br><br>
        <textarea rows="1" cols="20" name="qtitle">{{ i.ques_title }}</textarea>
        <br><br>
        <textarea rows="10" cols="50" name="qcontent">{{ i.ques_content }}</textarea>
        {% endfor %}
        <span id="sp"></span>
        <br><br><br>
        Question Label：<select name="qlabel">
            <option value ="study">学习</option>
            <option value ="life">生活</option>
            <option value="game">游戏</option>
            <option value="friend">交友</option>
        </select>
        <br><br><br><br><br>
        <input type="submit" value="Submit">
        &nbsp;&nbsp;
        <input type="reset" value="Reset">
    </form>
</div>
</body>
</html>