<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改回答</title>
</head>
<body>
<div align="center">
    <h2>Thing's change, so does your bright</h2>
    <table border="1" align="center">
        <tr>
            <th>问题ID</th>
            <th>用户ID</th>
            <th>问题标题</th>
            <th>问题内容</th>
            <th>提问时间</th>
            <th>问题收藏量</th>
        </tr>
        <tr>
            {% for i in qres %}
            <td>{{ i.qid }}</td>
            <td>{{ i.uid }}</td>
            <td>{{ i.ques_title }}</td>
            <td>{{ i.ques_content }}</td>
            <td>{{ i.ques_time }}</td>
            <td>{{ i.ques_collect }}</td>
            {% endfor %}
        </tr>
    </table>
    <form action="/updateda" method="get">
        {% for i in ares %}
        <input type="hidden" name="aid" value={{ i.aid }}>
        <br><br>
        <textarea rows="10" cols="50" name="acontent">{{ i.ans_content }}</textarea>
        <span id="sp"></span>
        {% endfor %}
        <br><br><br><br><br>
        <input type="submit" value="Submit">
        &nbsp;&nbsp;
        <input type="reset" value="Reset">
    </form>
</div>
</body>
</html>