<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <fieldset >
        <h1 ><img src={{src}} style="width:128px;height: 128px" ></h1>
        <form action='/ChangeAvatar' method='post' enctype="multipart/form-data">
             <input type='file' name='uploaded_file'>
             <input type='submit' name='Upload'>
        </form>
        <h1>User:{{user.name}}</h1>
        <a >我收藏的问题</a>
        <a >我收藏的回答</a>
        </fieldset>
    </div>
</body>
</html>