{% extends 'yy_base.html' %}

{% block title %}details{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/detail.css') }}">
{% endblock %}

{% block main %}
    <h3 class="page_title">{{ question.ques_title }}</h3>
    <p class="question-info">
        <span class="question-info-author">{{ '作者: %s' % question.uname }}</span>
        <span class="question-info-time">{{ '时间: %s' % question.ques_time }}</span>
    </p>
{#    <form action="{{ url_for('upgrade',question_id=question.id) }}">#}
{#      <div class="form-group">#}
{#            <input type="hidden" name="question_id" value = '{{ question.id }}'>#}
{#        </div>#}
 {#         <div class="form-group" style="text-align: right">#}
{#             <button class="btn btn-primary">#}
{#              收藏{{ question.like_count }}#}
{#            </button>#}
     {#     </div>#}
  {#  </form>#}
    <hr>
    <div class="question-content-container">
        <p class="question-content">
            {{ question.ques_content }}
        </p>
    </div>

    <hr>
    <h4>回答：</h4>
    <form action="{{ url_for('add_answer')+'?source='+question.qid }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="请发表回答" name="ans_content">
            <input type="hidden" name="qid" value = '{{ question.qid }}'>
        </div>
        <div class="form-group" style="text-align: right">
            <button class="btn btn-primary">
                发布
            </button>
        </div>
        <hr>
    <ul>
            {% for answer in answers %}
            <li>
                <div class="user-info">
                    <img class="avatar" src="{{ url_for('static',filename = 'images/timg.jpeg') }}" alt="头像">
                    <span class="name">{{ answer.uname }}</span>
                    <span class="ans_time">{{ answer.ans_time }}</span>
                </div>
                <p class="answer-content">
                    {{ answer.ans_content }}
                </p>
            </li>
            <hr>
        {% endfor %}

    </ul>
    </form>
{% endblock  %}