{% extends 'yy_base.html' %}

{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/mainpage.css') }}">
{% endblock %}

{% block main %}
    {% for question in questions %}

    <ul>
        <li>
            <div class="avatar-group">
                <img class="avatar" src="{{ url_for('static',filename = 'images/timg.jpeg') }}" alt="头像">
            </div>
            <div class="question-group">
                <p class="question-title"><a href="{{ url_for('yy_details',qid = question.qid) }}">{{ question.ques_title }}</a></p>
                <p class="question-content">{{question.ques_content}}</p>
                <div class="question-info">
                    <span class="answer-num interact"><a href="{{ url_for('yy_details',qid = question.qid) }}">答案</a></span>
{#                    <span class="see-num interact"><a href="{{ url_for('upgrade', question_id = question.id) }}">关注0</a></span>#}
{#                    <span class="to-answer interact"><a href="{{ url_for('details',question_id = question.id) }}">我来解答</a></span>#}
                    <span class="question-author">{{question.uid}}</span>
                    <span class="question-time">{{question.ques_time}}</span>
                </div>
            </div>
        </li>
    </ul>
    {% endfor %}
{% endblock %}